body {
    text-align: center;
    background-image: url('../images/background.jpg');
    font-family: bouwsma_uncial;
    justify-content: center;
}

h1 {
    color: rgb(237, 202, 176);
    text-align: center;
    background-color: rgb(65, 30, 5);
    height: 11vh;
    background: linear-gradient(to right, transparent 0%, rgb(65, 30, 5) 5%, rgb(65, 30, 5) 95%, transparent 100%);
    justify-content: center;
    display: flex;
    width: 100%;
}

h3 {
    text-align: center;
    justify-content: center;
    display: flex;
}

@font-face {
    font-family: bouwsma_uncial;
    src: url(../fonts/bouwsma_uncial/BouwsUnc.ttf);
}