body {
  text-align: center;
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-size: 100% auto;
  background-repeat: repeat;
  font-family: bouwsma_uncial;
  height: 100vh;
  margin: 0;
  margin-bottom: 7em;
}

h1 {
  color: rgb(237, 202, 176);
  text-align: center;
  font-size: 3rem;
  background-color: rgb(66, 33, 9);
  height: 11vh;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgb(65, 30, 5) 3%,
    rgb(65, 30, 5) 97%,
    transparent 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  margin-bottom: 11px;
}

h3 {
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  color: rgb(66, 33, 9);
  justify-content: center;
  margin: 0;
  margin-bottom: 1rem;
}

P {
  font-family: bouwsma_uncial;
  font-size: 33px;
  color: rgb(237, 202, 176);
  margin-top: 111px;
}

@font-face {
  font-family: bouwsma_uncial;
  src: url(../fonts/bouwsma_uncial/BouwsUnc.ttf);
}

section {
  display: flex;
  justify-content: center;
}

.deck {
  width: 180px;
  height: 300px;
  background-image: url("../images/backOfCard.jpg");
  background-size: cover;
  background-position: center;
  border: 4px solid #fde9d8;
  border-radius: 11px;
  margin-bottom: 1rem;
  margin-right: -11.3em;
}

.deck:last-child {
  margin-right: 0;
}

main {
  display: flex;
  justify-content: center;
  perspective: 1000px;
}

.card {
  width: 180px;
  height: 300px;
  font-family: bouwsma_uncial;
  font-size: 33px;
  color: rgb(237, 202, 176);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/backOfCard.jpg");
  background-size: cover;
  background-position: center;
  border: 4px solid #fde9d8;
  border-radius: 10px;
  margin-right: .75rem;
  margin-left: .75rem;
  transform-style: preserve-3d;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:active {
  transform: scale(0.98);
}

.card.flipped {
  transform: rotateY(180deg);
}

.card.flipped .front {
  transform: rotateY(180deg);
}
